@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');

body,
html {
  height: 100%;
  margin: 0;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.col {
  margin: 10px;
}

.middle {
  width: 100%;
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.bar {
  background: rgba(0, 0, 0, 0.5);
}

.container {
  border-radius: 25px;
  background: rgba(192, 192, 192, 0.5);
  width: 500px;
  height: 140px;
}

.box {
  border-radius: 45px;
  background: rgba(255, 255, 255, 0.8);
  width: 130px;
  height: 130px;
  margin: 30px;
  padding-top: 10px;
  padding-bottom: 2px;
}

p {
  font-family: 'STIX Two Text', serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

#yt, #github {
  width: 70px;
  margin-bottom: 10px;
}

#gmail {
  width: 80px;
  margin-top: 15px;
  margin-bottom: 20px;
}

#greeting {
  font-family: 'Niconne', cursive;
  font-size: 90px;
}

#condition {
  font-family: 'STIX Two Text', serif;
  font-size: 20px;
  font-weight: bold;
}

#temp {
  font-family: 'STIX Two Text', serif;
  font-size: 25px;
  font-weight: bold;
}

#time, #date {
  font-family: 'STIX Two Text', serif;
  font-size: 24px;
  font-weight: bold;
}
